

.container {
  background-color: black;
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
}

.container img {
  width: 100%;
  height: auto;
}

#scary-image {
  width: 80%;
  max-width: 1920px;
  max-height: 1080px;
}

.container .btn1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn2 {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn3 {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}

.spinner {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 0.5;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  

.timer-wrapper {
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 80%;
}

.timer {
  font-family: "Montserrat";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
