

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}

.spinner {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 0.5;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* .buttonOne {
  background-color: #0099CC;
  border-radius: 30px;
  color: white;
  
}

.buttonTwo {
  display: block;
  text-decoration: none;
  background-color: #0099CC;
  border-radius: 30px;
  color: white;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 100px;
}

.buttonThree {
  background-color: #0099CC;
  border-radius: 30px;
  color: white;
} */